.pio
.pioenvs
.piolibdeps
.lib
*.workspace
*SMuFF.code-workspace
.vscode
*.bak
*-Gerber.zip
*-BOM.zip
fp-info-cache
sym-lib-table
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*.dcm
*.old
Schematics/*.xml
Schematics/*.csv
Schematics/SMuFF-Relay-Board/Relay-Board-backups/
Schematics/SMuFF-Relay-Board/Gerber/
Schematics/SMuFF-Relay-Board/*.wrl
Schematics/SMuFF-Relay-Board/*.stl
Schematics/SMuFF-Relay-Board/*.step
Schematics/SMuFF-Relay-Board/*.em?
Schematics/SMuFF-Relay-Board/*.glb
Schematics/SMuFF-Relay-Board/*.xml
Schematics/SMuFF-Relay-Board/*.csv
Schematics/SMuFF-Relay-Board/*.png
Schematics/SMuFF-Relay-Board/Relay-Board-cache.lib
Schematics/SMuFF-Relay-Board/Relay-Board.pro
Schematics/SMuFF-Relay-Board/Relay-Board.sch

Schematics/SMuFF-Backbone/SMuFF-Backbone-backups/
Schematics/SMuFF-Backbone/Gerber/
Schematics/SMuFF-Backbone/*.wrl
Schematics/SMuFF-Backbone/*.stl
Schematics/SMuFF-Backbone/*.step
Schematics/SMuFF-Backbone/*.em?
Schematics/SMuFF-Backbone/*.glb
Schematics/SMuFF-Backbone/*.xml
Schematics/SMuFF-Backbone/*.csv
Schematics/SMuFF-Backbone/*-UART*
Schematics/SMuFF-Backbone/Libraries
Schematics/SMuFF-Backbone/Libraries.pretty/Logo.kicad_mod
Schematics/SMuFF-Backbone/Libraries.pretty/*5x2mm*
_autosave-*
Schematics/SMuFF-Connector/SMuFF-Connector/SMuFF-Connector-backups/
Schematics/SMuFF-Connector/SMuFF-Connector/Gerber/
Schematics/SMuFF-Connector/SMuFF-Connector/*.svg
Schematics/SMuFF-Connector/SMuFF-Connector/*.wrl
Schematics/SMuFF-Connector/SMuFF-Connector/*.step
Schematics/SMuFF-Connector/SMuFF-Connector/*.em?
Schematics/SMuFF-Connector/SMuFF-Connector/*.glb
Schematics/SMuFF-Connector/SMuFF-Connector/*.xml
Schematics/SMuFF-Connector/SMuFF-Connector/*.csv

Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/SMuFF-NeoPixel-Board-backups/
Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/Gerber/
Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/*.wrl
Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/*.step
Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/*.em?
Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/*.glb
Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/*.xml
Schematics/SMuFF-NeoPixel/SMuFF-NeoPixel-Board/*.csv

include/SKR_mini_E3-2.0/Pins_X-Swap.h
Schematics/SMuFF-Backbone/SMuFF-Backbone.zip
SD-Card-Contents*.zip
